body{background-color: beige;
text-align: center;}
body {
 background-repeat: 'judas';
 background-size:cover ;
 background-attachment: fixed;
}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

} 

.card{
    width: 250px;
    height: 250px;
    background-color: #7c6e6e;
    padding: 15x;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.1);

}

.card button:hover{
    background-color: rgb(119, 1, 1);
}